extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1
                    | MekanBul
                    small &nbsp; Civardaki Mekanları Keşfet!
    .row
        .row-list-group
        .col-xs-12.col-sm-12
            .col-xs-12.list-group-item
                h4
                    a(href='/mekan') Starbucks
                    small &nbsp;
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star-empty
                span.bange.pull-right.badge-default 1km
                p.adress Centrum Garden AVM
                p
                    span.label.label-warning Dünya Kahveleri
                    | &nbsp;
                    span.label.label-warning Kekler
                    | &nbsp;
                    span.label.label-warning Pastalar
                    | &nbsp;

    br 
    .row
        .row-list-group
        .col-xs-12.col-sm-12
            .col-xs-12.list-group-item
                h4
                    a(href='/mekan') Starbucks 
                    small &nbsp;
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star-empty
                span.bange.pull-right.badge-default 1km
                p.adress Centrum Garden AVM
                p
                    span.label.label-warning Dünya Kahveleri
                    | &nbsp;
                    span.label.label-warning Kekler 
                    | &nbsp;
                    span.label.label-warning Pastalar
                    | &nbsp
    br 
    .row
        .row-list-group
        .col-xs-12.col-sm-12
            .col-xs-12.list-group-item
                h4
                    a(href='/mekan') Starbucks
                    small &nbsp;
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star-empty
                span.bange.pull-right.badge-default 10km
                p.adress Centrum Garden AVM
                p
                    span.label.label-warning Dünya Kahveleri
                    | &nbsp;
                    span.label.label-warning Kekler
                    | &nbsp;
                    span.label.label-warning Pastalar
                    | &nbsp;

   

                    
                
        







