extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1
                    | MekanBul
                    small &nbsp; Civardaki Mekanları Keşfet!
    .row
        .row-list-group
        .col-xs-12.col-sm-12
            .col-xs-12.list-group-item
                h4
                    a(href='/mekan') Starbucks
                    small &nbsp;
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                span.badge.pull-right.badge-default 10 km
                p.adress Centrum Garden AVM
                p
                    span.label.label-warning Dünya Kahveleri
                    | &nbsp;
                    span.label.label-warning Kekler
                    | &nbsp;
                    span.label.label-warning Pastalar
                    | &nbsp;
            | &nbsp;

     
    .row
        .row-list-group
        .col-xs-12.col-sm-12
            .col-xs-12.list-group-item
                h4
                    a(href='/mekan') Cam Kafe 
                    small &nbsp;
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                span.badge.pull-right.badge-default 30 m
                p.adress Süleyman Demirel Üniversitesi Batı Kampüsü
                p
                    span.label.label-warning Yiyecek/İçecek
                    | &nbsp;
                    span.label.label-warning Çay/Kahve 
                    | &nbsp;
            | &nbsp;        
     
    .row
        .row-list-group
        .col-xs-12.col-sm-12
            .col-xs-12.list-group-item
                h4
                    a(href='/mekan') Gloria Jeans
                    small &nbsp;
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star-empty
                span.badge.pull-right.badge-default 1.5 km
                p.adress Süleyman Demirel Üniversitesi AVM 
                p
                    span.label.label-warning Dünya Kahveleri
                    | &nbsp;
                    span.label.label-warning Kekler
                    | &nbsp;
                    span.label.label-warning Pastalar
                    | &nbsp;

   

                    
                
        







