extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1
                    | MekanBul
                    small &nbsp; Civardaki Mekanları Keşfet!
    p Şu an için bilgi bulunmamaktadır, beklemede kalın :)

