doctype html
html
    head
        meta(name='viewport',content='width=device-width,initial-scale=1.0')
        title= baslik
        link(rel='stylesheet', href='/bootstrap/bootstrap/css/bootstrap.css')
    body
        .navbar-default.navbar.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href='/?enlem=37.7&boylam=30.5') MekanBul
                    button.navbar-toggle(type='button', data-toggle='collapse',data-target='#navbar-main')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                #navbar-main.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/hakkinda') Hakkında               
    .container
        block content
        footer       
            small &copy; Ahmet Çotul 2022
                
    script(src='/javascripts/jquery/jquery-3.6.1.min.js')
    script(src='/javascripts/denetle.js')
    script(src='/bootstrap/bootstrap/js/bootstrap.min.js')

